.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 12px;
}

.grid {
  margin: 7em 0;

  .grid-title {
    margin: 0 0 2.5em 0;
    text-align: center;
  }

  .grid-title h2 {
    text-transform: uppercase;
  }
}

@media (min-width: 550px) {
  .container-grid {
    row-gap: 25px;
    column-gap: 25px;
  }
}

@media (min-width: 750px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1150px) {
  .grid {
    margin: 12em 0 10em 0;

    .grid-title {
      margin: 0 0 5.5em 0;
    }

    .grid-title h2 {
      font-size: 32px;
    }
  }

  .item {
    transition: transform 350ms ease-in-out;
  }

  .item:hover {
    transform: scale(1.1);
  }

  .container-grid {
    width: 70%;
    row-gap: 35px;
    column-gap: 35px;
  }
}
