header {
  font-family: $font-heading;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0%;
  background: #ffffff;
}

nav {
  display: block;
}

.logo {
  margin: 0.5em 0;
  padding: 0;
}

.logo img {
  width: 14%;
}

.nav-toggle:checked ~ .nav__list {
  transform: scale(1, 1);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 1.7em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 5px;
}

.nav-toggle-label span::after {
  top: 5px;
}
.nav__list {
  position: absolute;
  top: 100%;
  text-align: center;
  width: 100%;
  margin: 0.6em 0 0 0;
  padding: 0.8em 0;
  background: #ffffff;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.nav__list--flex {
  padding: 0;
  margin: 0;
}

.nav__item {
  list-style: none;
  width: 100%;
  margin: 0.8em 0;
  font-size: 1em;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 220ms ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
  color: #eb9623;
  letter-spacing: 1.3px;
}
