// Imported Fonts //

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Rubik&display=swap");

// Fonts //

$font-heading: "Raleway", sans-serif;
$font-primary: "Rubik", sans-serif;

// Font selections //

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

p {
  font-family: $font-primary;
}
