// Colors //

$dark-blue: #2d314d;
$off-white: #fafaf6;
$orange: #eb9623;
$orange-gradient: linear-gradient(
  to right top,
  #eb9623,
  #eca625,
  #edb72b,
  #ecc734,
  #ead740
);
$blue-gradient: linear-gradient(
  to right,
  #323096,
  #3739aa,
  #3c43bf,
  #404dd5,
  #4258eb
);
